// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.print-container {
  margin: 0;
  justify-content: flex-end;
}
.btn-print {
    //float: right;
    margin-right: 10px;
    margin-top: 10px;
    background: #adc956;
    border: 1px solid #adc956;
    width: 100px;
    padding: 3px 5px;
    color: #fff;
    border-radius: 3px;
    font-family: Arial;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.view-media {
  display: block;
}
.light {
  font-weight: 400;
}

.header {
  margin-bottom: 26px;
  .logo {
    img {
      width: 100%;
    }
  }
}

.facts {
  border-left: 2px solid #697a85;
  //padding-left: 25px;
  color: #697a85;
  &__header {
    margin: 2px 0 7px;
    font-size: 24px;
  }
  & p {
    font-weight: bold;
    line-height: 6px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 10px;
    border: 0;
  }
}

.stripe {
  margin: 0 0;
  background-color: #cfd6d9;
  &__address {
    &__upperline {
      margin-top: 5px;
      margin-bottom: -3px;
      font-size: 22px;
      color: #000;
      text-decoration: underline;
      font-weight: bold;
    }
    &__lowerline {
      margin-bottom: 0px;
      font-size: 18px;
    }
  }
  &__price {
    text-align: right;
    &__upperline {
      margin-top: 5px;
      margin-bottom: -3px;
      font-size: 22px;
      color: #000;
      font-weight: bold;
    }
  }
}

.main {
  &__images {
    &__item {
      max-width: 100%;
      display: block; 
      margin: 0 auto;
      padding-bottom: 12px;
      
      max-height: 245px;
    }
  }
  &__text {
    line-height: 22px;
    font-size: 16px;
    & p:nth-child(1) {
      text-align: justify;
    }
    & p:nth-child(2), & p:nth-child(3) {
      font-size: 14px;
    }
    &__contacts {
      margin-bottom: 16px;
    }
  }
  &__details {
    margin-bottom: 16px;
    border-bottom: 2px solid #d2d9e0;
    .row {
      margin: 0;
      div {
       padding: 10px; 
      }
    }
    &__title {
      border: 2px solid #d2d9e0;
      border-left: 0;
      border-bottom: 0;
      text-align: right;
      font-size: 14px;
      color: #4B4B4B;
      font-weight: 700;
    }
    &__value {
      border: 2px solid #d2d9e0;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
    }
    @media screen and (max-width: 768px) {
      border-top: 2px solid #d2d9e0;
      .row {
        border-bottom: 2px solid #d2d9e0;
        &:last-child() {
          border-bottom: 0;
        }
      }
      &__title, &__value {
        text-align: left;
        border: 0;
      }
    }
  }
  &__card {
    margin-bottom: 16px;
    font-size: 12px;
    p {
      margin-bottom: 5px;
    }
    .strong {
      font-weight: bold;
    }
    @media screen and (max-width: 768px) {
      &__img {
        display: block;
        margin: 0 auto;
        max-width: 150px;
        max-height: 150px;
      }
    }
  }
}

.terms {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #000000;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
}

.plan {
  &__header {
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  &__img {
    margin-bottom: 26px;
    width: 100%;  
    border: 2px solid #000000;
    object-fit: contain;
  }
}

@media print { 
    .container {
        max-width: none!important;
        width: 100%!important;
        padding-left: 0;
        padding-right: 0;
    }
    .row {
        margin-left: -1%;
        margin-left: -1%;
    }
    [class*="col-"] {
        float: left;
        padding-left: 1%;
        padding-right: 1%;
    }
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        width: 100%
    }
    .col-sm-11,
    .col-md-11,
    .col-lg-11 {
        width: 91.66666667%
    }
    .col-sm-10,
    .col-md-10,
    .col-lg-10 {
        width: 83.33333333%
    }
    .col-sm-9,
    .col-md-9,
    .col-lg-9 {
        width: 75%
    }
    .col-sm-8,
    .col-md-8,
    .col-lg-8 {
        width: 66.66666667%
    }
    .col-sm-7,
    .col-md-7,
    .col-lg-7 {
        width: 58.33333333%
    }
    .col-sm-6,
    .col-md-6,
    .col-lg-6 {
        width: 50%
    }
    .col-sm-5,
    .col-md-5,
    .col-lg-5 {
        width: 41.66666667%
    }
    .col-sm-4,
    .col-md-4,
    .col-lg-4 {
        width: 33.33333333%
    }
    .col-sm-3,
    .col-md-3,
    .col-lg-3 {
        width: 25%
    }
    .col-sm-2,
    .col-md-2,
    .col-lg-2 {
        width: 16.66666667%
    }
    .col-sm-1,
    .col-md-1,
    .col-lg-1 {
        width: 8.33333333%
    }
}